# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Env (IMPORTANT)
.env*
*.log

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/